<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="imagem/png" href="/img/iconn.png">
  <title>Catalogo de Filmes</title>  
</head>

<body>
  <header>
    <div id="titulo">
      <img src="/img/cubo.png" alt="Cubo">
      <h1>Catalogo de Filmes Blue</h1>
    </div>
  </header>

  <main>
    <section id="main-section">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cadastro">Cadastrar</a> </li>
          <li><a href="/edit">Editar</a></li>
          <li><a href="/delete">Deletar</a></li>
        </ul>
      </nav>

      <section id="content">