<%- include('partials/header.ejs') %>
  <section id="cadastro">
    <h2>CADASTRE UM NOVO FILME</h2>
    <form action="/new" method="POST">

      <label for="numero">Nome</label>
      <input type="text" id="nome" name="nome" required>

      <label for="genero">Genero</label>
      <input type="text" id="genero" name="genero" required>

      <label for="imagem">Link da imagem</label>
      <input type="url" id="imagem" name="imagem" required>

      <label for="diretor">Diretor</label>
      <input type="text" id="diretor" name="diretor" required>

      <label for="ano">Ano de Lançamento</label>
      <input type="number" id="ano" name="ano" required>
      
      <label for="sinopse">Sinopse</label>
      <input type="text" id="sinopse" name="sinopse" required>
      
      <button id="btnCadastrar" type="submit">Cadastrar</button>

    </form>
  </section>
  <%- include('partials/footer.ejs') %>