<%- include('partials/header.ejs') %>

<div id = "center">  

    <h1>Deseja mesmo deletar esse filme?</h1>
    
    <form method="post" action="delete.ejs">
    <button class="botao" type="submit" >Sim</button>
    
    </form>
     <button class="botao" onclick="window.location.href='/'">nao</button>
    </div>

<%- include('partials/footer.ejs') %>